<div
  class="row justify-content-center wrapper-login align-items-center nuevo-wrapper"
>
  <form
    class="col-5 wrapper-form"
    [formGroup]="grupo"
    (ngSubmit)="actualizar()"
  >
    <div class=" d-flex justify-content-between">
      <div class="form-group">
        <label class="label">Nombres</label>
        <input
          class="form-control"
          type="text"
          placeholder="Ingresar nombres "
          formControlName="nombres"
        />
      </div>
      <div class="form-group">
        <label class="label">Apellidos</label>
        <input
          class="form-control"
          type="text"
          placeholder="Ingresar apellidos "
          formControlName="apellidos"
        />
      </div>
    </div>

    <div class=" d-flex justify-content-between">
      <div class="form-group">
        <div class="control">
          <div class="select is-info">
            <label class="label">Fecha de nacimiento</label>
            <input
              class="form-control"
              type="date"
              placeholder="Fecha de nacimiento"
              formControlName="fecha"
              (change)="selectFecha($event)"
            />
            <!-- <label class="label">Cambiar el estado de la tarea</label>
            <select class="form-control" formControlName="status">
              <option [ngValue]="type" *ngFor="let type of types">{{
                type
              }}</option>
            </select> -->
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="label">Edad</label>
        <input
          class="form-control"
          type="text"
          placeholder="Edad"
          formControlName="edad"
        />
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <button
        type="button"
        class="btn btn-outline-secondary is-small"
        (click)="volver()"
      >
        Cancelar
      </button>
      <button class="btn btn-primary is-small">Actualizar</button>
    </div>
  </form>
</div>
